body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Details CSS */
.detailsrow {
    display: flex;
    margin-left: 8vw;
}
  
.detailscolumn {
    flex: 50%;
}  

.detailscolumn div div {
    padding: 2vw;
    width: fit-content;
    text-align: center;
}

.detailscolumn div div img {
    filter: drop-shadow(2px 4px 6px black);
    width: 80%;
}
  
/* Navbar CSS */
.navbar {
    background-color: rgb(175, 175, 175);
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
    margin-bottom: 3vh;
}

#logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar .redirects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar .redirects li {
    float: left;
    cursor: pointer;
}

.navbar .redirects li span {
    display: block;
    padding: 8px 20px;
    background-color: #dddddd;
    margin: 0 10px;
    border: black solid 1px;
    width: fit-content;
    text-align: center;
}

.navbar .search_bar span {
    margin: 0 10px;
}

.navbar .shopping_cart {
    font-size: 25px;
}

/* Shop CSS */
.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px
}

.itemGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
} 

.itemGrid > div {
    position: relative;
    width: 200px;
    height: 200px;
    /* background-color: rgb(95, 95, 95); */
    text-align: center;
}

.itemGrid div img {
    width: 80%;
    height: 80%;
    filter: drop-shadow(2px 4px 6px black);

    /* Center the image */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Make users unable to mark the image */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.itemTag {
    /* Make it appear over the image */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;

    /* Style the item tag */
    background: #ad9a78;
    text-align: center;
    padding: 3.5% 0;
    font-weight: bold;
    text-transform: uppercase;
}