body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar CSS */
.navbar {
    background-color: rgb(175, 175, 175);
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
}

#logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar .redirects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar .redirects li {
    float: left;
}

.navbar .redirects li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    margin: 0 10px;
    border: black solid 1px;
    width: 4vw;
    text-align: center;
}

.navbar .search_bar span {
    margin: 0 10px;
}

.navbar .shopping_cart {
    font-size: 25px;
}